<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="{{form_authenticity_token}}" name="csrf-token">
<meta content="authenticity_token" name="csrf-param">
<meta name="description" content="{{desc}}">

<link rel="apple-touch-icon" href="{{ asset_url['images/apple-touch-icon.png'] }}">
<link rel="shortcut icon" href="{{ asset_url['images/favicon.ico'] }}">
<link rel="stylesheet" media="screen" href="{{ 'styles/bundle.css' | asset_url }}">
<link rel="stylesheet" media="screen" href="{{ 'styles/site.css' | asset_url }}">

<title>{{pagetitle}}</title>
